html, body {
    height:100%;
    margin: 0;
}

.header-content {
    position: relative;
    height: 20vh;
    max-height: 250px;
    background: #0c4662;
}

#header-bg {
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    width: 100%;
    height: 100%;
    max-width: 1140px;
    max-height: 250px;
}

#header-logo {
    position: absolute;
    display: block;
    left: 10px;
    top: 0;
    bottom: 0;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: calc(100% - 20vh);
}

.column {
    flex: 1 1 auto;
}


#left-column {
    border: 1px solid black;
    width: 15%;
}

#center-column {
    border: 1px solid green;
    width: 70%;
}

#right-column {
    border: 1px solid black;
    width: 15%;
}

#ceid-name {
    display: none;
    font-size: 10px;
    color: rgb(201, 196, 196);
}

/*#region breapoints */

@media only screen and (max-width: 600px) {
    #header-bg {
        display: none;
    }

    #ceid-name {
        display: block;
        text-align: right;
        margin: 0px;
        padding-top: 8%;
        padding-right: 2%;
    }
}

@media only screen and (max-width: 500px) {
    #header-logo {
        height: 50px;
        width: 50px;
    }
}
@media only screen and (max-height: 400px) {
    #header-logo {
        height: 50px;
        width: 50px;
    }
}

/*#endregion*/