html, body {
    height:100%;
    margin: 0;
}

.header-content {
    height: 20vh;
    max-height: 250px;
    background: #0c4662;
}

#header-bg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    width: 100%;
    height: 100%;
    max-width: 1140px;
    max-height: 250px;
}

#header-logo {
    position: absolute;
    top: calc(10vh - 50px);
    left: 10px;
    z-index: 1;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: calc(100% - 20vh);
}

.column {
    flex: 1 1 auto;
}


#left-column {
    border: 1px solid black;
    width: 15%;
}

#center-column {
    border: 1px solid green;
    width: 70%;
}

#right-column {
    border: 1px solid black;
    width: 15%;
}